body {
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 10px 0px 10px 0px;
}
#navbar a {
  margin-right: 20px;
  color: white;
  font-weight: bold;
  font-size: 17px;
}
#navbar a:hover, #navbar a:focus, #navbar a:active {
  color: #cc0000;
}