html {
  scroll-behavior: smooth;
}
body {
  font-family: open-sans, sans-serif;
  background-color: white;
}
a {
  text-decoration: none;
}
#navbar {
  border-radius: 30px;
  background: #ffffff;
  box-shadow:  5px 5px 100px #f2f2f2, 
               -5px -5px 100px #ffffff;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  padding: 20px 0px 20px 0px;
  color:#cc0000;
}
#navbar a {
  padding-top: 5px;
  margin-right: 25px;
  color: #cc0000;
  font-weight: 500;
  font-size: 17px;
}
#navbar a:hover, #navbar a:focus, #navbar a:active {
  color: black;
}
#searchIcon {
  padding: 10px 300px 10px 10px;
  margin-right: 200px;
  border-radius: 30px;
  border-radius: 57px;
  background: #ffffff;
  box-shadow: inset 5px 5px 100px #f2f2f2, 
              inset -5px -5px 100px #ffffff;
}
#home {
  padding-bottom: 685px;
}
.goal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 25px;
}
#about, #subscribe, #privacy {
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.contentContainer {
  padding: 50px 0px 60px 0px;
  border-radius: 20px;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  50px 50px 100px #bdbdbd, 
             -50px -50px 100px #ffffff;
  width: 40%;
  margin-bottom: 50px;
}
.title{
  color: #cc0000;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 400;
}
.content {
  text-align: left;
  margin: 0px 50px 0px 50px;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 100;
}
#futureContent {
  margin-bottom: 10px;
  text-align: left;
}
#subscribe .content {
  text-align: center;
}

#email {
  border-radius: 5px;
  padding: 20px 270px 20px 10px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #bdbdbd, 
               -5px -5px 10px #ffffff;
margin: 30px 0px 0px 50px;
font-size: 18px;
}
input {
  outline: none;
  border: none;

}
#subscribe btn {
  position: absolute;
  color: white;
  border-radius: 20px;
background: #cc0000;
box-shadow: inset 5px 5px 39px #7a0000, 
            inset -5px -5px 39px #ff0000;
  padding: 10px;
  border-radius: 5px;
  right: 500px;
  top: 2370px;
}
#privacy .content {
  margin-bottom: 10px;
}
#privacy btn:hover {
  cursor: pointer;
  color: #cc0000;
}
.page:nth-child(2) {
  display: none;
}
.page:nth-child(2) h1 {
  position: relative;
  text-align: center;
  
}
.page:nth-child(2) .contentContainer {
  width: 70%;
}
#privacy_page {
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.page:nth-child(2) {
  flex-direction: column;
}
#privacy_page a {
  color: black;
  text-decoration: underline;
  line-height: 1.5em;
}